
<br>
{% block body %}

<form method="POST" action="{% url 'add_employee' %}">
  {% csrf_token %}
  First Name:
  <br />
  <input type="text" name="first_name" />
  <br />
  Last Name:
  <br />
  <input type="text" name="last_name" />
  <br />
  Address:
  <br />
  <input type="text" name="address" />
  <br />
  Date Of Birth:
  <br />
  <input type="date" name="dob" />
  <br />
  Mobile:
  <br />
  <input type="number" name="mobile" />
  <br />
  City:
  <br />
  <input type="text" name="city" />
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Submit Info!" />
  </form>
</div>

{% endblock %}